<!DOCTYPE html>
<html>
<head>
  <title>Carpool</title>

<%= stylesheet_link_tag '/stylesheets/sign.up', :media => 'screen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
